WebApplicationForm/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62143/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceSonuclar" />
  <xs:element name="GetYillars">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYillarsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceSonuclar" minOccurs="0" name="GetYillarsResult" nillable="true" type="q1:ArrayOfYillar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTurlers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTurlersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceSonuclar" minOccurs="0" name="GetTurlersResult" nillable="true" type="q2:ArrayOfTurler" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOgrencilers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOgrencilersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceSonuclar" minOccurs="0" name="GetOgrencilersResult" nillable="true" type="q3:ArrayOfOgrenciler" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>